* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
    text-align: center;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;

}

.card {
    margin: 0 auto;
    width: min-content;
    padding: 0 1px 0 0;
    background: linear-gradient(90deg, #666 1px, transparent 0, transparent 20px) repeat-x left top/20px calc(100% - 4px),
    linear-gradient(#666 1px, transparent 0, transparent 20px) repeat-y left top/100% 20px;
}

.hidden{
    width: 0;
    height: 0;
    visibility: hidden;
}