.card{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.way-1{
    background-color: #f66;
}

.way-2{
    background: url("../ch02_using_svg/spade.svg") #fc1;
}

.way-2-1{
    background-color: transparent;
    border:10px solid;
    border-image: url("../ch02_using_svg/spade.svg") 30 stretch;
}

.way-2-2{
    background: #fff;
}

.way-2-2 ul{
    margin: 0;
    padding:10px 0 10px 35px;
}

.way-2-2 li{
    list-style-image:url("../ch02_using_svg/list_tag.svg");
    padding: 0;
}

.way-3{
    background-color: #09e;
}

.way-4-1 svg{
    width: 200px;
    height: 100px;
}

.way-4-1 .currentLayer path{
    fill: #f69;
    stroke: transparent;
}