.box {
    text-align: center;
}

.card {
    margin: 0 auto;
    width: min-content;
    padding: 0 1px 0 0;
    background: linear-gradient(90deg, #666 1px, transparent 0, transparent 20px) repeat-x left top/20px 100%,
    linear-gradient(#666 1px, transparent 0, transparent 20px) repeat-y left top/100% 20px;
}

.gradient-block{
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg,#fc1 10%, #fc1 0, #f66 90%, #f66 0);
    padding: 50px 0;
    background-clip: content-box;
}