.box {
    text-align: center;
}

.card {
    margin: 0 auto;
    width: min-content;
    padding: 0 1px 0 0;
    background: linear-gradient(90deg, #666 1px, transparent 0, transparent 20px) repeat-x left top/20px 100%,
    linear-gradient(#666 1px, transparent 0, transparent 20px) repeat-y left top/100% 20px;
}

.text {
    color: red;
    fill: #fc1;
}

.text-stroke {
    fill: #09e;
    stroke-width: 1px;
    stroke:#09e;
}

.text-blank {
    fill: none;
    stroke-width: 0.5;
    stroke: #0c9;
}

.font-family{
    font-family: Consolas,monospace,sans-serif;
}

.font-size{
    font-size: 14px;
    font-family: monospace,sans-serif;
}

.font-weight{
    font-weight:bold;
    font-family: monospace,sans-serif;
}

.font-style{
    font-style: italic;
}

.text-decoration{
    text-decoration: underline;
}

.word-spacing{
    word-spacing: 1em;
}

.letter-spacing{
    letter-spacing: 0.3em;
}