.box {
    text-align: center;
}

.card {
    margin: 0 auto;
    width: min-content;
    padding: 0 1px 0 0;
    background: linear-gradient(90deg, #666 1px, transparent 0, transparent 20px) repeat-x left top/20px 100%,
    linear-gradient(#666 1px, transparent 0, transparent 20px) repeat-y left top/100% 20px;
}

.path{
    stroke:#fc1;
    fill: none;
    stroke-width: 0.5;
}

.text{
    fill: #fc1;
    font-size:10px;
}